---
import "../../styles/index.scss";
import Header from "../../components/Header.astro";
import MainScreen from "../../screens/MainScreen.astro";
import ResultsScreen from "../../screens/ResultsScreen.astro";
import i18next, { t, changeLanguage } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Footer from "../../components/Footer.astro";

changeLanguage("fr");
---

<html lang={i18next.language} data-theme-general data-mode data-tour>
  <head>
    <!-- META CHARSET -->
    <meta charset="UTF-8" />

    <!-- META IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- META VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- META INDEX -->
    <meta name="robots" content="index" />

    <!-- META TITLE -->
    <title>
      {t('site.title1')}{t('site.title2')} | {t('site.catchphrase')}
    </title>

    <!-- META DESCRIPTION -->
    <meta
      name="description"
      content="Random task assigner for those situations when you and your mates have to split some tasks."
    />

    <!-- META KEYWORDS -->
    <meta
      name="keywords"
      content="Task Manager, Random Task Assigner, Random Task"
    />

    <!-- META AUTHOR -->
    <meta name="author" content="Emilio Tapia" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <HeadHrefLangs />
  </head>
  <body>
    <Header />

    <main class="main">
      <MainScreen />
      <ResultsScreen />
    </main>

    <Footer />
  </body><script>
    import {
      windowLoadDarkModeCheck,
      windowLoadThemeCheck,
      windowLoadLangCheck,
      windowLoadTourCheck,
      windowSetTransitions,
    } from '/src/helpers/mediaQueries';

    window.addEventListener('load', async (e) => {
      windowLoadDarkModeCheck();
      windowLoadThemeCheck();
      windowLoadLangCheck();
      windowLoadTourCheck();
      windowSetTransitions();
    });
  </script>
</html>
