---
import "../styles/ResultsScreen.scss";
import "../styles/Buttons.scss";
import CheckIcon from '../components/icons/CheckIcon.astro';
import PaletteIcon from '../components/icons/PaletteIcon.astro';
import SearchIcon from '../components/icons/SearchIcon.astro';
import TrashIcon from '../components/icons/TrashIcon.astro';
import '../styles/AccordionItem.scss';
import i18next, { t } from 'i18next';
---


<!-- sr === saved results -->

<section class="sr">
  <div class="sr__card" data-card data-shadow_card>
    <div class="sr__title">
      <h5>{t('resultsContainer.title')}</h5>
      <nav class="sr__options">
        <ul >
          <li aria-hidden="true">
            <button id="sr__delete_btn" data-thrash>
              <TrashIcon />
            </button>
          </li>
          <li>
            <input
              type="checkbox"
              name="sr__checkmode"
              id="sr__checkmode"
              data-check
            />
            <label for="sr__checkmode">
              <CheckIcon />
            </label>
          </li>
          <!-- <li>
            <input
              type="checkbox"
              name="sr__search"
              id="sr__search"
              data-check
            />
            <label for="sr__search">
              <SearchIcon />
            </label>
          </li> -->
        </ul>
      </nav>
    </div>
    <div class="sr__accordion" id="accordion"></div>
  </div>
</section>


<script>
  import { Accordion } from '../models/Accordion';
  import { AccordionGroup } from '../models/AccordionGroup';

  window.addEventListener('load', (e) => {
    let savedResults = new AccordionGroup('accordion', Accordion);
    const saveBtn = document.getElementById('saveBtn');
    const randomBtn = document.getElementById('mainBtn') as HTMLButtonElement;
    saveBtn?.addEventListener('click', (e) => {
      savedResults.init();
      randomBtn.disabled = true;
      setTimeout(() => {
        randomBtn.disabled = false
      }, 1000);
    });
  });
</script>
