@use 'fonts' as f;
@use 'layout' as l;

@mixin reset() {
  body {
    // SET MIN HEIGHT 100vh TO AVOID OVERWRITE FULL BODY HEIGHT WITH WINDOW HEIGHT
    min-height: 100vh;
    min-height: 100dvh;
  }

  :where(img, svg, a, label, summary) {
    display: block;
  }

  :where(h1, h2, h3, h4, h5, h6, span, label, p, input, button, a) {
    font-family: f.$font1;
    -webkit-font-smoothing: antialiased;
  }

  :where(
      a,
      button,
      input,
      a:focus,
      area:focus,
      textarea:focus,
      summary:focus,
      select:focus,
      input:focus,
      button:focus
    ) {
    outline: none;
  }

  :where(img) {
    max-width: 100%;
    height: auto;
  }

  :where(svg) {
    transition: fill l.$trans_time;
  }

  :where(a, p, span, label) {
    font-weight: normal;
  }

  :where(button, a, input, select, summary, textarea) {
    appearance: none;
  }

  :where(a, button) {
    cursor: pointer;
  }

  :where(button) {
    background: transparent;
    border: 0;
  }

  :where(h1, h2, h3, h4, h5, h6, span, label, p) {
    text-wrap: balance;
    display: inline-block;
  }

  :where(ul, li) {
    list-style: none;
    list-style-type: none;
  }

  h1 {
    font-size: f.$s_1;
  }
  h2 {
    font-size: f.$s_2;
  }
  h3 {
    font-size: f.$s_3;
  }
  h4 {
    font-size: f.$s_4;
  }
  h5 {
    font-size: f.$s_5;
  }
  h6 {
    font-size: f.$s_6;
  }
  span,
  label,
  p {
    font-size: f.$s_s;
  }

  // INPUT HIDDEN FOR INTERACTION WITH LABEL
  input[type='radio'],
  input[type='checkbox'] {
    height: 0px;
    width: 0px;
    display: none;

    &:is(:checked) + label {
      opacity: 1;
    }

    & + label {
      cursor: pointer;
    }
  }
}

@mixin resetAllElements() {
  margin: 0;
  padding: 0;

  text-decoration: none;
  box-sizing: border-box;
  transition: background-color l.$trans_time, color l.$trans_time;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}
