@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Perfect Fourth */
  --type-ratio: 1.33;
  --type-ratio2: 1.22;
  --type-ratio1: 1.11;

  /*  Body font size  */
  --font-size-base: 1rem;

  /* Compounded headlines sizes */

  --font-size-s: var(--font-size-base);
  --font-size-8: calc(var(--font-size-s) * var(--type-ratio1));
  --font-size-7: calc(var(--font-size-s) * var(--type-ratio2));
  --font-size-6: calc(var(--font-size-s) * var(--type-ratio));
  --font-size-5: calc(var(--font-size-6) * var(--type-ratio));
  --font-size-4: calc(var(--font-size-5) * var(--type-ratio));
  --font-size-3: calc(var(--font-size-4) * var(--type-ratio));
  --font-size-2: calc(var(--font-size-3) * var(--type-ratio));
  --font-size-1: calc(var(--font-size-2) * var(--type-ratio));
  --font-size-xl: calc(var(--font-size-1) * var(--type-ratio));
  --font-size-xxl: calc(var(--font-size-xl) * var(--type-ratio));
  --font-size-xxxl: calc(var(--font-size-xxl) * var(--type-ratio));
  --font-size-xs: calc(var(--font-size-s) / var(--type-ratio));
  --font-size-xxs: calc(var(--font-size-xs) / var(--type-ratio));
}

$font1: 'Poppins', sans-serif;

$s_s: var(--font-size-s);
$s_6: var(--font-size-6);
$s_5: var(--font-size-5);
$s_4: var(--font-size-4);
$s_3: var(--font-size-3);
$s_2: var(--font-size-2);
$s_1: var(--font-size-1);
$s_xl: var(--font-size-xl);
$s_xxl: var(--font-size-xxl);
$s_xxl: var(--font-size-xxxl);
$s_xs: var(--font-size-xs);
$s_xxs: var(--font-size-xxs);
