:has(*[data-showcheckmode='true']) {
  .accordion {
    &-item {
      flex-direction: row;
    }
  }
}

.accordion {
  &-item {
    border-bottom: 1px solid var(--bg-light);
    border: 0;
    border-radius: 0.5rem;
    background: var(--bg-light-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    button[aria-expanded='true'] {
      box-shadow: 0 0 10px -4px var(--shadow-result);
    }

    button {
      position: relative;
      text-align: left;
      width: 100%;
      color: var(--accent-text-gray);
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;

      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      transition: color 0.3s;

      &:active {
        scale: 1;
      }

      &:hover {
        color: var(--accent-text-light);
      }

      &:hover,
      &:focus {
        cursor: pointer;
        &::after {
          cursor: pointer;
          color: var(--accent-text-light);
          border: 1px solid var(--accent-light-3);
        }
      }
      .accordion-title {
        padding: 0.2rem;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: var(--accent-text-light);
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 30em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
        overflow-y: scroll;
      }
    }
  }

  &-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    & > div {
      font-size: 1rem;
      font-weight: 300;
      margin: 0.5rem 0;
      display: flex;
      gap: 1rem;
      padding: 0.5rem;
      flex-wrap: wrap;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }

  &-result {
    justify-content: space-between;
    background: var(--bg-result);
    border-radius: 0.25rem;
    padding-block: 0.55rem;
    padding-inline: 0.75rem;
    font-weight: 400;
    color: var(--accent-gray);
    transition: background 0.3s, color 0.1s, opacity 1s;
    gap: 0.75rem;
    flex: 1 1 250px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    text-align: center;
    cursor: pointer;

    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    span:first-child {
      font-weight: 600;
      font-size: var(--font-size-8);
      line-height: 1.2;
      align-self: center;
    }

    span:last-child {
      align-self: center;
    }

    hr {
      border: 1px solid;
      border-color: var(--accent-gray);
      transition: border-color 0.1s;
    }

    &:hover {
      background: var(--accent-light-5);
      color: var(--white);

      hr {
        border-color: var(--white);
      }
    }
  }

  &__check {
    width: fit-content;

    label {
      display: grid;
      place-content: center;
      min-width: 40px;
      min-height: 40px;
      height: 100%;
      fill: var(--accent-text-gray);
      margin-inline-start: 0.5rem;
    }

    svg {
      zoom: 1.1;
    }
  }
}
