@use 'mixins' as m;
.footer {
  &__bg {
    padding-block-end: var(--block_margin);
    // padding-block-start: var(--block_margin);
  }

  &__bounds {
    gap: 0.75rem;
    display: grid;
    background: transparent;
    padding-block: 0;
    padding-inline: 1rem;
    overflow: hidden;

    @include m.mediaBreakpoint(750) {
      @include m.gridMinMax(180, auto-fit);
      gap: 0;
      border-radius: 1rem;
      background: var(--bg-light);
      padding-block: 0.5rem;
    }
  }

  &__title {
    line-height: 1.4;
    display: grid;
    place-content: center;
    justify-content: start;

    &:first-child,
    &:last-child {
      justify-content: center;
    }

    &:first-child {
      @include m.mediaBreakpoint(750) {
        justify-content: start;
      }
    }

    &:last-child {
      opacity: 0.5;
      zoom: 0.8;
      @include m.mediaBreakpoint(750) {
        justify-content: end;
        opacity: 1;
        zoom: 1;
      }
    }

    h4 {
      @include m.textoverflow();

      // VISUAL
      color: var(--accent-gray);
      opacity: 0.9;
      font-weight: 400;
      text-transform: uppercase;
      font-size: var(--footer-size);

      a {
        color: var(--accent2-light-3);
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 1rem;

      & > li {
        a {
          display: flex;
        }

        &:hover {
          scale: 1.06;
        }
      }
    }

    a {
      & > * {
        cursor: inherit;
      }
    }
  }
}
