@use 'mixins' as m;
@use 'fonts' as f;
@use 'layout' as l;

label,
summary {
  fill: var(--accent-light-3);
}

.header {
  &__bg {
    position: relative;
    padding-block-start: calc(var(--block_margin) * 3);
    // padding-block-end: calc(var(--block_margin));

    @include m.mediaBreakpoint(570) {
      padding-block-start: calc(var(--block_margin));
    }
  }

  &__bounds {
    justify-content: center;
    display: flex;

    @include m.mediaBreakpoint(570) {
      justify-content: space-between;
    }
  }

  &__title {
    display: grid;
    place-content: center;
    transition: background-color var(--transisiton-time),
      color var(--transisiton-time), margin var(--transisiton-time);

    h1 {
      margin-block-end: 0.3rem;
      line-height: 0.7;
      font-size: var(--h1-size-mobile);
      //   SHADOW
      text-shadow: 0 2px 3px var(--d-shw-2);
      filter: drop-shadow(1px 1px 1px var(--shadow-main-title));

      @include m.mediaBreakpoint(570) {
        font-size: var(--h1-size-desktop);
      }

      span {
        text-align: center;
        font-family: f.$font1;
        font-size: inherit;
        display: inline;
        font-weight: bold;
        text-transform: uppercase;

        &:first-child {
          color: var(--accent-gray-title1);
        }

        &:last-child {
          color: var(--accent-gray-title2);
        }
      }
    }
  }

  &__nav {
    // POSITION
    top: 0;
    left: 50%;
    translate: -50% 0%;
    position: absolute;

    background: var(--bg-light);

    border-radius: 0 0 1.3rem 1.3rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;

    @include m.mediaBreakpoint(570) {
      position: relative;

      //   RESET TO DEFAULT
      border-radius: 0;
      background: transparent;
      padding: 0;
      top: auto;
      left: auto;
      translate: 0;
    }

    & > ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      color: var(--bg-light-2);

      & > li {
        padding-block-end: 0.1rem;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid var(--accent-light-3);
        }
      }
    }
  }
}

[data-theme='purple'] {
  span {
    background: hsl(235 32% 52%);
  }
}
[data-theme='green'] {
  span {
    background: #5fbf79;
  }
}
[data-theme='red'] {
  span {
    background: hsl(0, 45%, 54%);
  }
}

// FIX

// .langSelector {
//   background: transparent;
//   border: none;
//   font-size: var(--font-size-5);
//   display: flex;
//   align-items: center;
//   stroke: var(--accent-light-3);
// }

input[type='checkbox'] {
  &:is(:checked) + label {
    opacity: 1;
  }

  &:is(:checked) ~ [aria-expanded='true'] {
  }

  & + label {
    cursor: pointer;
    z-index: 10;
    position: relative;
  }
}

.header__lang {
  label {
    stroke: var(--accent-light-3);
  }

  ul {
    li {
      display: flex;

      button {
        // zoom: 0.9;
        appearance: none;
        border: 0;
        background: transparent;
        text-shadow: 0 1px 5px hsl(0deg 0% 0% / 10%);
        font-size: var(--font-size-5);
        line-height: 0.7;
        padding-block-start: 0.3rem;
      }
    }
  }
}

.header__theme {
  nav {
    padding-inline: 0.95rem !important;
    @include m.mediaBreakpoint(570) {
      padding-inline: 1.18rem !important;
    }
  }

  ul {
    @include m.mediaBreakpoint(570) {
      gap: 1.3rem !important;
    }
  }
}

.header__theme,
.header__lang {
  nav {
    width: auto;
    height: auto;
    transition: translate var(--transisiton-time),
      opacity var(--transisiton-time) 0.1s;

    // POSITION
    position: absolute;
    left: 0;
    top: 0;

    // BOUNDS
    width: 100%;
    overflow: hidden;
    padding-block: 0.75rem;
    padding-block-start: 1.5rem;
    padding-inline: 0.75rem;

    // VISUAL
    border-radius: 0 0 1.3rem 1.3rem;
    box-shadow: none;
    border: none;
    background: var(--bg-nav-mobile);

    // &[data-prepared='false'] {
    //   visibility: hidden;
    // }

    // &[data-prepared='true'] {
    //   visibility: visible;
    // }

    &[aria-expanded='false'] {
      pointer-events: none;
      translate: 0 2.9rem;
      opacity: 0;

      transition: translate var(--transisiton-time) 1s,
        opacity var(--transisiton-time);

      @include m.mediaBreakpoint(570) {
        translate: 0% -250%;
      }
    }

    &[aria-expanded='true'] {
      translate: 0 2rem;
      opacity: 1;

      @include m.mediaBreakpoint(570) {
        translate: 0% -50%;
      }
    }

    @include m.mediaBreakpoint(570) {
      top: 50%;
      right: 120%;
      left: unset;

      // BOUNDS
      width: auto;
      padding-block: 0.45rem;
      padding-inline: 0.85rem;

      // VISUAL
      opacity: 0;
      box-shadow: inset 0 1px 12px var(--d-shw-1);
      // background: var(--d-shw-1);
      background-size: 500%;
      background-position-x: 27%;
      border-radius: 0.5rem;
      border: 1px solid rgba(255, 255, 255, 0.031372549);

      // BACKDROP
      // background-color: #3c3e5452;
      background: var(--bg-nav-desktop);
      border: 1px solid #ffffff29;
    }

    ul {
      // LAYOUT
      display: flex;
      gap: 0;
      justify-content: space-between;

      @include m.mediaBreakpoint(570) {
        // LAYOUT
        gap: 0.75rem;
      }
    }

    button {
      // BOUNDS
      padding-inline: 0.2rem;
      padding-block: 0.2rem;
      // VISUAL
      appearance: none;
      border-radius: 50%;
      border: none;

      span {
        // BOUNDS
        width: 19px;
        height: 19px;
        // LAYOUT
        display: block;
        // VISUAL
        border-radius: 50%;
        box-shadow: 0 0.1rem 0.7rem -3px var(--black);
        border: 2px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}
