@use 'mixins' as m;
@use 'defaults' as d;
@use 'colors' as c;
@use 'layout' as l;
@use 'fonts' as f;

:root {
  --h1-size-mobile: clamp(2.7rem, -0.4111rem + 16.5926vw, 5.5rem);
  --h1-size-desktop: clamp(2rem, 0.8333rem + 2.6667vw, 2.5rem);
  --footer-size: clamp(0.625rem, 0.8864rem + 1.0909vw, 1rem);
  --maintitle-size: clamp(1.125rem, 0.8864rem + 1.0909vw, 1.275rem);
}

/* DEFAULT CONFIG SETTINGS */
@include d.reset();
* {
  @include d.resetAllElements();
  // outline: 1px solid rgba(200, 0, 0, 0.2); // DEBUG ONLY
  z-index: 1;
}

button {
  @include m.activeButton(0.98) {
  }
}

// a {
//   &:link {
//     color: #6900ff;
//   }

//   &:visited {
//     color: #a5c300;
//   }

//   &:focus {
//     text-decoration: none;
//     background: #bae498;
//   }

//   &:hover {
//     text-decoration: none;
//     background: #cdfeaa;
//   }

//   &:active {
//     background: #6900ff;
//     color: #cdfeaa;
//   }
// }

/* -------- BODY DISPLAY --------- */
body {
  background-color: c.$l1;
  // overflow: hidden;
  // color: c.$white

  // @include m.flexDisplay();
  // @include m.fullDynHeight();
  // @include m.mainWidthBoundaries();
  // @include m.gridCenter();
  // @include m.gridMinMax($min: 200);
  // @include m.pseudoAfterCoverAll(red) {
  // }
  // @include m.mediaBreakpoint($pixelSize) {
  // }
}

/* -------- TYPE SELECTORS --------- */

header.header,
main.main,
footer.footer {
  @include m.mainWidthBoundaries(1700px, 0rem, 98%);

  & > * {
    padding-inline: l.$block_pad_in;
  }
}

main.main {
  @include m.flexDisplay();

  & > section {
    padding-block-start: l.$block_margin;

    &:last-child {
      padding-block-end: l.$block_margin;
    }
  }
}

/* -------- ATTRIBUTES --------- */

[disabled] {
  cursor: not-allowed !important;
  text-decoration: none !important;
  opacity: 0.6 !important;

  &:hover {
    text-decoration: none !important;
  }

  &:active {
    scale: 1 !important;
  }
}

[data-unavailable] {
  width: auto;
  text-align: center;
  font-weight: 500;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  background: var(--bg-light-2);
  color: var(--accent-text-light);
}

[data-card] {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background: var(--bg-light);
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.031372549);
}

[data-shadow_card] {
  transition: background-color l.$trans_time, color l.$trans_time,
    box-shadow l.$trans_time;

  &:focus,
  &:hover {
    box-shadow: var(--shadow-dark-card) !important;
  }
}

[aria-hidden='true'] {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  pointer-events: none;
}

[aria-hidden='false'] {
  pointer-events: all;
}

[data-checked_item] {
  opacity: 0.5;
  text-decoration: line-through;

  &:hover {
    background: var(--bg-result) !important;
    color: var(--accent-gray) !important;
  }
}

[data-showCheckMode='false'] {
  display: none;
}
[data-showCheckMode='true'] {
  display: inline-block;
}

[data-showMenuMobile] {
  margin-block-start: 3rem;

  @include m.mediaBreakpoint(570) {
    margin-block-start: 0;
  }
}

// HANDLE DETAILS TAG MENU

// #langSelectElement ol {
//   // top: 3.1rem;
//   // translate: 0;
//   // left: -1.77rem;

//   @include m.mediaBreakpoint(570) {
//     top: 50%;
//     translate: -50% -50%;
//     left: -5.8rem;
//   }
// }

// .themeSelector ol {
//   // top: 3.6rem;
//   // translate: 0;
//   // left: -0.65rem;

//   @include m.mediaBreakpoint(570) {
//     top: 50%;
//     translate: -50% -50%;
//     left: -5.8rem;
//   }
// }

/* -------- CLASS --------- */

/* -------- ID --------- */

/* -------- ANIMATIONS --------- */
