---
interface Props {
    className?: string;
    idName?: string;
}
const { className, idName } = Astro.props;
// import '../styles/CardField.scss';
---



<div class={className} id={idName} data-card data-shadow_card>
    <slot />  <!-- children will go here -->
  </div>