---
import '../styles/Footer.scss';
import { t } from 'i18next';
import GithubIcon from './icons/GithubIcon.astro';

const today = new Date();
const year = today.getFullYear();
---

<footer class="footer" id="footer">
  <div class="footer__bg">
    <section class="footer__bounds">
      <div class="footer__title">
        <h4>
          {t('site.footer.developed')}
          <a href="https://emilio-tapia.com/">Emilio Tapia</a>
        </h4>
      </div>
      <nav id="navFooter" class="footer__nav">
        <ul>
          <li>
            <a href="https://github.com/emilio-tapia/taskmixr" aria-label="Go to github repository">
              <label>
                <GithubIcon />
              </label>
            </a>
          </li>
        </ul>
      </nav>
      <div class="footer__title">
        <h4>{t('site.footer.copyright')} {year}</h4>
      </div>
    </section>
  </div>
</footer>

<script>
  window.addEventListener('load', (e) => {
    handleFooterShadowMediaQuery();
  });

  function handleFooterShadowMediaQuery() {
    const mediaQuery = window.matchMedia('(min-width: 750px)');
    mediaQuery.matches
      ? document
          .querySelector('.footer__bounds')
          ?.setAttribute('data-shadow_card', '')
      : '';
    mediaQuery.addEventListener('change', () => {
      displayFooterShadow(mediaQuery);
    });

    return;

    function displayFooterShadow(query: any) {
      if (query.matches) {
        document
          .querySelector('.footer__bounds')
          ?.setAttribute('data-shadow_card', '');
      } else {
        document
          .querySelector('.footer__bounds')
          ?.removeAttribute('data-shadow_card');
      }
    }
  }
</script>
